doctype html
html(lang="ru")
	head
		// Meta 
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		
		// SEO Meta 
		meta(name='description' content='')
		meta(name='keywords' content='')

		// Favicon 
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")

		// Title 
		title Main Page
		
		// Modernizr 
		// build:js js/modernizr.min.js
		script(src='bower_components/modernizr/modernizr.js')
		// endbuild

		// CSS 
		// build:css css/vendor.min.css
		// bower:css
		// endbower
		// endbuild
		// build:css css/main.min.css
		link(rel='stylesheet', href='css/main.css')
		// endbuild
		
		// IE8 
		// build:js js/ie8.min.js
		<!--[if lt IE 9]>
		script(src='bower_components/es5-shim/es5-shim.min.js')
		script(src='bower_components/html5shiv/dist/html5shiv.min.js')
		script(src='bower_components/html5shiv/dist/html5shiv-printshiv.min.js')
		script(src='bower_components/respond/dest/respond.min.js')
		<![endif]-->
		// endbuild
	body
		// Preloader 
		#preloader
			.cssload-whirlpool

		// Navbar 
		nav.navbar.navbar-default
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="#") Website.com
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav
						li.active
							a(href="#")
								| Link
								span.sr-only (current)
						li
							a(href="#") Link
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Drop down1
							ul.dropdown-menu
								li
									a(href="#") Action
								li
									a(href="#") Another action
								li.dropdown.dropdown-submenu
									a.dropdown-toggle(href="#", data-toggle="dropdown") Something else here
									ul.dropdown-menu
										li
											a(href="#") Dropdown Submenu Link 4.1
										li
											a(href="#") Dropdown Submenu Link 4.2
										li
											a(href="#") Dropdown Submenu Link 4.3
										li
											a(href="#") Dropdown Submenu Link 4.4
								li
									a(href="#") Separated link

								li.dropdown.dropdown-submenu
									a.dropdown-toggle(href="#", data-toggle="dropdown") Dropdown Link 4
									ul.dropdown-menu
										li
											a(href="#") Dropdown Submenu Link 4.1
										li
											a(href="#") Dropdown Submenu Link 4.2
										li
											a(href="#") Dropdown Submenu Link 4.3
										li
											a(href="#") Dropdown Submenu Link 4.4
						li
							a(href="#") Link
					
					ul.nav.navbar-nav.navbar-right
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Dropdown1
							ul.dropdown-menu
								li
									a(href="#") Action
								li
									a(href="#") Another action
								li
									a(href="#") Something else here
								li
									a(href="#") Separated link

								li.dropdown.dropdown-submenu.left
									a.dropdown-toggle(href="#", data-toggle="dropdown") Dropdown Link 4
									ul.dropdown-menu
										li
											a(href="#") Dropdown Submenu Link 4.1
										li
											a(href="#") Dropdown Submenu Link 4.2
										li
											a(href="#") Dropdown Submenu Link 4.3
										li
											a(href="#") Dropdown Submenu Link 4.4
		// END: Navbar 

		// build:js js/vendor.min.js
		// bower:js
		// endbower
		// endbuild
		// build:js js/main.min.js
		script(src='js/common.js')
		// endbuild